@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fadeIn {
    animation: fadeIn 0.6s ease-out forwards;
}
  
/* Define the keyframes for the wave animation */
@keyframes wave {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(10deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
 }
  
  /* Apply the wave animation to the emoji and increase its size */
  .animate-waving-text {
    display: inline-block;
    animation: wave 1.5s ease-in-out infinite;
    font-size: 2rem; /* Increase the emoji size */
  }

/* Container for the scrolling images */
.scrolling-images {
  width: 70%;
  display: flex;
  justify-self: center;
  height: 140px; /* Adjust the height based on your preference */
  overflow: hidden; /* Hide anything that overflows */
  position: relative;
}

/* The image container where images will scroll horizontally */
.image-container {
  display: flex;
  animation: scrollImages 30s linear infinite; /* The animation makes it scroll */
}

/* Style for individual images */
.image-container img {
  width: 140px; /* Set the size of each image */
  margin-right: 15px; /* Space between images */
  object-fit: cover; /* Ensures images maintain aspect ratio */
}

/* Keyframes for the scrolling animation */
@keyframes scrollImages {
  0% {
    transform: translateX(100%); /* Start off-screen from the right */
  }
  100% {
    transform: translateX(-100%); /* End off-screen to the left */
  }
}

  